Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.1
Flask-JWT-Extended==4.5.3
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
python-dotenv==1.0.0
gunicorn==21.2.0
gevent==24.2.1
cryptography==41.0.7
qrcode==7.4.2
Pillow==10.0.0
requests
setuptools>=68.0.0
